.showhide{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showbtn{
    padding: 10px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: goldenrod;
    color: white;
    font-size: 16px;
}


.showtxt{
    font-size: 24px;
    font-weight: bold;
}